# config.yml
defaults: &defaults
  tos_version: "4.62"
  tos_url: ""
  tos_key: ""
  tos_secret:
  uniqueKey: ""
  deviceKey: ""
  ### Required facebook or twitter ###
  #loginType: "facebook"
  #deviceName: ""
  #loginToken: ""
  ####################################
  sysInfo: ""
  platform: ""
  color_ui: false
  auto_enhance: false
  auto_sells: [486,487,488,489,490] #龍牙棋
  auto_train_skills: false
  auto_merge_min: 5
  auto_merge_keeps:
      #進化魂
      241: 2
      242: 2
      243: 2
      244: 2
      245: 2
      246: 2
      247: 2
      248: 2
      249: 2
      250: 2
      251: 2
      252: 2
      253: 2
      254: 2
      255: 2
      256: 2
      257: 2
      258: 2
      259: 2
      260: 2
      #龍蛋
      261: 2
      262: 2
      263: 2
      #魔劍
      264: 2
      265: 2
      266: 2
      #西瓜
      267: 2
      268: 2
      269: 2
      #星靈
      379: 1
      380: 1
      381: 1
      382: 1
      383: 1
      384: 1
  auto_merge_cards: []
